In [1]:
import sys
sys.path.append('./')
import layout
import utils

In [2]:
l_obj = layout.layout('../layout_files/row_layout.txt')

In [3]:
list_items = [1,2,3,4,5,6,7,8,9,10,11,12,13]
utils.randomly_assign_products_to_racks(l_obj, list_items)

In [4]:
l_obj.pos_to_product_dict

{(1, 1): 1,
 (1, 2): 2,
 (1, 3): 3,
 (1, 4): 4,
 (1, 5): 5,
 (1, 6): 6,
 (1, 7): 7,
 (1, 8): 8,
 (1, 9): 9,
 (1, 10): 10,
 (3, 1): 11,
 (3, 2): 12,
 (3, 3): 13}

In [7]:
utils.calc_distance(l_obj, (0,0), [11, 1])

[(2, 1), (4, 1), (3, 0)]
3
[(0, 1), (2, 1), (1, 0)]
0

3

In [11]:
import pandas as pd

In [12]:
df = pd.read_csv('../artifacts/orders_2m.csv')
df.head()

,order_id,local_date,sku,sku_count
0,806739562,2022-07-01,"905,414,907,414",2
1,807597754,2022-07-01,"910,318,910,880",2
2,807636508,2022-07-01,"905851,901870,902459,902405,906075,912870,902450",7
3,806634633,2022-07-01,"900955,903142,903141,901839,903131,913044,9011...",9
4,806728678,2022-07-01,"900350,900351,915650,902129,916994,900510,9003...",9

In [13]:
df.shape

(81815, 4)

In [14]:
df['sku_id_count'] = df['sku'].apply(lambda x: len(x.split(',')))

In [15]:
df = df[df['sku_count'] == df['sku_id_count']]

In [16]:
df.shape

(69417, 5)

In [17]:
df.to_csv('../artifacts/order_2m_fixed.csv', index=False)